body {
  background-color: #fff;
  font-size: 23px;
  font-family: 'Nunito Sans', sans-serif;
}

input[type=text], input[type=textarea], textarea {
  border: 1px solid #fff;
  background-color: transparent;
  padding:10px;
  width: 100%;
  color: #fff;
  font-size: 18px;
  box-sizing : border-box;
}

input:focus {
  background-color: #262626;
  border: 1px solid red;
}

textarea:focus {
  background-color: #262626;
  border: 1px solid red;
}

input:hover {
  border: 1px solid red;
}

textarea:hover {
  border: 1px solid red;
}

@media screen and (max-width: 992px) {

}